html, body {
    /* Forzamos a que el contenedor mida exactamente la pantalla sin desbordar */
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita cualquier intento de scroll accidental */
}

body {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Pasamos el padding aquí abajo, pero box-sizing evitará que sume tamaño */
    padding: 25px; 
    box-sizing: border-box;

    background: linear-gradient(180deg, #d675df, #1d3bb1);
    background-attachment: fixed; /* Mantiene el degradado firme en su lugar */

    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.container{
    width:100%;
    max-width:900px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#content{
    width:100%;
    text-align:center;
    color:white;
}

#content p{
    font-size:2rem;
    line-height:1.7;
    font-weight:300;

    text-shadow:0 5px 15px rgba(0,0,0,.25);

    animation:fade .35s ease;
}

img{
    max-width:80vw;
    max-height:80vh;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

@keyframes fade{

    from{
        opacity:0;
        transform:scale(.97);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}